<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mooseware.DvarDeputy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mooseware.DvarDeputy.Properties.Settings>
            <setting name="ViewerWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ViewerWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ControlWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ControlWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RestoreWindowLocations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFontSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="LastHorizontalMargin" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LastLineSpacing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LastScrollVelocity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LastTypeface" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="LastSourceFile" serializeAs="String">
                <value>C:\Users\joelb\OneDrive\Desktop\TestDvar.docx</value>
            </setting>
            <setting name="ReopenLastContent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VisualTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="ProgressBug" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="AtemIpAddress" serializeAs="String">
                <value>192.168.0.240</value>
            </setting>
            <setting name="ViewerAtemInput" serializeAs="String">
                <value>PC4</value>
            </setting>
            <setting name="ShowViewerWhenMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Mooseware.DvarDeputy.Properties.Settings>
    </userSettings>
</configuration>